apiVersion: v1
kind: Secret
metadata:
  name: bitcoin-core
  labels:
    app.kubernetes.io/name: bitcoin-core
stringData:
  # wget https://raw.githubusercontent.com/bitcoin/bitcoin/master/share/rpcauth/rpcauth.py
  # python3 rpcauth.py alex
  BITCOIN_RPC_AUTH: "alex:??????????"
