apiVersion: v1
kind: Secret
metadata:
  name: wireguard-keys
  labels:
    app.kubernetes.io/name: wireguard
stringData:
  # Generate key pair for either server or peer with command:
  #   wg genkey | tee private.key | wg pubkey | tee public.key
  SERVER_PRIVATE_KEY: "???"
  PEER_1_PUBLIC_KEY: "???"
  PEER_1_ALLOWED_IP: "10.112.32.???"
